practica3/Ejercicio 1/Tarea 4/rutasSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rutas">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="ruta">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tipo" type="xs:string" />
              <xs:element name="medio_transporte" type="xs:string" />
              <xs:element name="fecha_inicio" type="xs:string" />
              <xs:element name="hora_inicio" type="xs:string" />
              <xs:element name="duracion">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:unsignedByte">
                      <xs:attribute name="unidad" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="agencia" type="xs:string" />
              <xs:element name="personas_adecuadas" type="xs:string" />
              <xs:element name="lugar" type="xs:string" />
              <xs:element name="direccion" type="xs:string" />
              <xs:element name="coordenadas">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="longitud" type="xs:decimal" />
                    <xs:element name="latitud" type="xs:decimal" />
                    <xs:element name="altitud" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="referencias">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="referencia">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="numero" type="xs:unsignedByte" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hitos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="hito">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="nombre" type="xs:string" />
                          <xs:element name="descripcion" type="xs:string" />
                          <xs:element name="coordenadas">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="longitud" type="xs:decimal" />
                                <xs:element name="latitud" type="xs:decimal" />
                                <xs:element name="altitud" type="xs:unsignedShort" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="distancia_hito_anterior">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="unidad" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="fotos">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="foto">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="nombre" type="xs:string" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="videos">
                            <xs:complexType>
                              <xs:sequence minOccurs="0">
                                <xs:element name="video">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="nombre" type="xs:string" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="numero" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="nombre" type="xs:string" use="required" />
            <xs:attribute name="descripcion" type="xs:string" use="required" />
            <xs:attribute name="recomendacion" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>